<!doctype html>
<html>
 <head>

  <title>1045</title>

  <!-- 言語Σ符号 -->
  <meta charset='utf-8'>
  <!-- 作者Σ名前と連絡先 -->
  <meta content='Yusuke Sano' name='author'>
  <meta content='toyoko.app@gmail.com' name='reply-to'>
  <!-- 基本Σアプリの名前と概要と検索エンジン対策 -->
  <meta content='1045' name='application-name'>
  <meta content='noindex, nofollow, noarchive' name='robots'>
  <meta content='業務管理アプリです。客室清掃の進捗を共有できます。' name='description'>
  <!-- 設定Σアプリのビューポートと自動リンクを禁止 (Safari) -->
  <meta content='telephone=no, address=no, email=no, date=no, url=no' name='format-detection'>
  <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover' name='viewport'>
  <!-- 詳細Σアプリの情報（名前・背景色・アイコン・表示モード）とファビコン -->
  <link href='asset/progressive-web-app.json' rel='manifest'>
  <link href='asset/favicon.ico' rel='icon'>

  <script src='pwa/url/1.1.5.min.js'></script>
  <script src='pwa/2.0.8.min.js'></script>

  <script src='vue/2.6.10.min.js'></script>
  <script src='vue/plugin/loader/1.4.0.js'></script>

  <script src='ui/jquery/3.4.1.min.js'></script>
  <script src='ui/2.4.2.min.js'></script>

  <script>
    Vue.use(httpVueLoader)
    document.addEventListener('DOMContentLoaded',function(){

      new Vue({
        el:'main',
        components:[
          'url:vue/component/form/numeric-up-down.vue'
        ],
        data:{
          i1:100,
          i2:100,
        },
        methods:{
          changed:function(value){
            console.log(value)
          }
        },
      })
    })
 </script>
  <style>
    @import url('ui/2.4.2.min.css');
    html,
    body,
    main{
      height:100%;
    }
    .ui.container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
 </style>

 </head>
  <body>
   <main class='ui container'>
     <div class='ui menu two item'>
       <numeric-up-down name='plus'  action='increase' :min='0' :max='619' v-model='i1' @input='changed'></numeric-up-down>
       <numeric-up-down name='minus' action='decrease' :min='0' :max='619' v-model='i2' @input='changed'></numeric-up-down>
    </div>
  </main>
 </body>
</html>
