html,
body,
main{
  height:100%;
}
.ui.stackable.cards{
  height:100%;
}

.ui.cards~.ui.cards {
  margin-top: 0;
}

main{
  padding:.875em;
}

@media only screen and (max-width: 767px){
  .ui.stackable.cards .card:first-child{
    margin-top: 1em !important;
  }
  .ui.stackable.cards>.card{
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
