@font-face{
  src:url('app/font/azusa/uzura/1.0.0.ttf');
  font-family:'Uzura';
}
@font-face{
  src:url('app/font/larsenwork/gidolinya/2.0.1.otf');
  font-family:'Gidolinya';
}
@font-face{
  src:url('app/font/ipa/m+2vm+ipag-circle/20060520p1.ttf');
  font-family:'M+2VM+IPAG circle';
}
i.icon.hotel:before {content:'\f594';}