<!doctype html>
 <html>
  <head>
   <title>1045</title>

   <!-- 言語Σ符号 -->
   <meta charset='utf-8'>
   <!-- 作者Σ名前と連絡先 -->
   <meta content='Yusuke Sano' name='author'>
   <meta content='toyoko.app@gmail.com' name='reply-to'>
   <!-- 基本Σアプリの名前と概要と検索エンジン対策 -->
   <meta content='1045' name='application-name'>
   <meta content='noindex, nofollow, noarchive' name='robots'>
   <meta content='業務管理アプリです。客室清掃の進捗を共有できます。' name='description'>
   <!-- 設定Σアプリのビューポートと自動リンクを禁止 (Safari) -->
   <meta content='telephone=no, address=no, email=no, date=no, url=no' name='format-detection'>
   <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
   <!-- 対応Σアプリの画面はカバー率100%のベンダープレフィックス付  -->
   <link  href='module/ui/semantic/2.4.2.min.css' rel='stylesheet'>
   <!-- 詳細Σアプリの情報（名前・背景色・アイコン・表示モード）とファビコン -->
   <link href='asset/progressive-web-app.json' rel='manifest'>
   <link href='asset/favicon.ico' rel='icon'>

   <!-- 対応Σアプリの画面はJQUERYを基本,VUE版の対応は未定 -->
   <script src='module/ui/semantic/jquery/3.4.0.min.js'></script>
   <script src='module/ui/semantic/2.4.2.min.js'></script>

   <!-- 運用∫ブラウザはレガシー対応（ES6~9) -->
   <script src='module/core/2.6.5.min.js'></script>
   <!-- 通信∫データベースはグラフ型・リアルタイム同期 -->
   <script src='module/core/network/gun/0.2019.428.min.js'></script>
   <!-- 実装∫システムはＭＶＶＭ採用・データ処理は一貫性のある書き方 -->
   <script src='module/core/architecture/vue/2.6.10.min.js'></script>
   <script src='module/core/architecture/lodash/4.17.12.min.js'></script>
   <!-- 設計∫システムはコンポーネント指向・SCRIPT・HTML・CSSはパッケージ化・クッキーはユーザ情報保存用 -->
   <script src='module/core/architecture/vue/plugin/loader/1.4.0.min.js'></script>
   <script src='module/core/architecture/vue/plugin/cookies/1.5.13.min.js'></script>
   <!-- 管理∫モジュールは動的に読込・端末の情報とブラウザの機能取得後にポリフィルの適用 -->
   <script src='module/core/system/url-search-params/1.1.0.min.js'></script>
   <script src='module/core/system/outdated-browser/2.8.0.min.js'></script>
   <script src='module/core/system/finger-print/2.0.6.min.js'></script>
   <script src='module/core/system/modernizr/3.6.0.min.js'></script>
   <script src='module/core/system/tableify/1.1.0.min.js'></script>
   <script src='module/core/system/fetch/3.0.0.min.js'></script>
   <script src='module/core/system/0.21.5.min.js'></script>
   <!-- 登録∫アプリケーションマニフェストの単一化・レガシー対応 -->
   <script src='module/pwa/xhr/0.1.10.min.js'></script>
   <script src='module/pwa/url/1.1.5.min.js'></script>
   <script src='module/pwa/2.0.8.min.js'></script>

   <script src='module/core/network/gun/lib/open.js'></script>
   <script src='module/core/network/gun/lib/bye.js'></script>
   <script src='plugin/vue-gun.js'></script>

   <!-- 導入|チャット窓口（問題が発生した時にその場で回答）-->
   <script data-src='https://embed.small.chat/THLFELBTNGHM19V7AR.js' async></script>
   <!-- 導入|アクセス解析（不審なアクセス検知と端末の識別）-->
   <script src='https://www.googletagmanager.com/gtag/js?id=UA-137563800-1' async></script>
   <script>
     window.dataLayer = window.dataLayer || []
     function gtag(){
       dataLayer.push(arguments)
     }
     gtag('js',new Date())
     gtag('config','UA-137563800-1')
  </script>
   <script src='main.js'></script>
   <style>
     @import url('module/ui/dat-gui/theme/liabru/light.min.css');
     @import url('module/ui/pretty-checkbox/3.0.3.min.css');
     @import url('module/ui/box-shadow/1.0.5.min.css');
     @import url('module/ui/animate/3.7.0.min.css');
     @import url('main.css');
  </style>
 </head>
  <body>
   <main>
     <!-- boot -->
     <div id='boot'
          v-show='isReady == false'>
       <article>
         <init @loaded='boot' v-show="url.has('debug')">
           <div class='ui dimmer inverted active'>
             <div class='ui loader'></div>
            </div>
        </init>
         <introduce @logined='startup'>  
        </introduce>
      </article>
    </div>

     <!-- application-->
     <div id='application'
          v-show='isReady == true'>

       <!-- application-menu -->
       <div class='ui main menu pointing icon fixed sticky top'>
         <a class='item' data-tab='task'><i class='icon hotel'></i></a>
         <a class='item' data-tab='list'><i class='icon list'></i></a>
         <a class='item' data-tab='tool'><i class='icon tools'></i></a>
         <a class='item' data-tab='edit'><i class='icon pen'></i></a>
         <a class='item' data-tab='info'><i class='icon info'></i></a>
      </div>

       <!-- application-content -->
       <div class='ui main grid padded'>
         <div class='row'>
           <div class='column'>
             
            <div class='ui tab' data-tab='task'>

              <div class='ui stackable cards'>
                <div class='ui card'>
                  <div class='ui top attached label'>TOTAL</div>
                  <total :rows='src' :keys="['bed','bath','check']"></total>
               </div>
                <div class='ui card'>
                  <div class='ui top attached label'>TASK TABLE</div>
                  <data-table
                    :rows='src'
                    :keys='srcFilters'
                    :row-class='row'
                    :cell-class='cell'>
                 </data-table>
               </div>
             </div>
              <div class='ui stackable cards'>
                <div class='ui card'>
                  <div id='counter' :class="['ui','five','item','icon','menu','large','component']">
                    <div class='item browse'>
                      <i class='icon name'></i>
                   </div>
                    <div class='ui fluid popup top left' id='user-controller'>
                   </div>
                    <div class='item'>
                      <i class='icon list'></i>
                   </div>
                    <numeric-up-down name='bed'   action='increase' :min='0' :max='619' v-model='userData.bed'   @input='synchronize'></numeric-up-down>
                    <numeric-up-down name='bath'  action='increase' :min='0' :max='619' v-model='userData.bath'  @input='synchronize'></numeric-up-down>
                    <numeric-up-down name='check' action='increase' :min='0' :max='619' v-model='userData.check' @input='synchronize'></numeric-up-down>
                 </div>
               </div>
             </div>
  
           </div>
            <div class='ui tab' data-tab='list'>B
           </div>
            <div class='ui tab' data-tab='tool'>C
           </div>
            <div class='ui tab' data-tab='edit'>D
           </div>
            <div class='ui tab' data-tab='info'>E
           </div>

          </div>
        </div>  
      </div>
    </div>

  </main>
 </body>
</html>