html,
body,
main{
  height:100%;
}

.ui.grid,
.ui.grid .row,
.ui.grid .row .column{
  height:100%;
}

.ui.grid .row .column{
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
     -moz-box-orient:vertical;
     -moz-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}

#boot{
  padding:.875em;
}
#boot .ui.cards~.ui.card {
  margin-top: 0;
}
#boot .ui.stackable.cards{
  height:100%;
}


.name    {color:#00b5ad;}
.floor   {color:#000000;}
.bed     {color:#fbbd08;}
.bath    {color:#2185d0;}
.check   {color:#21ba45;}





@media only screen and (max-width: 767px){
  .ui.stackable.cards .card:first-child{
    margin-top: 1em !important;
  }
  .ui.stackable.cards>.card{
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}


i.icon.hotel:before{content:'\f594';}
i.icon.pen:before{content:'\f304';}
i.icon.floor:before{content:'\f03a';}
i.icon.book-open:before{content:'\f518';}
i.icon.tools:before{content:'\f7d9';}

.ui.main.menu i.icon{
  color:#00b5ad;
}

/*
 * アイコンを新しくして
 */
 i.icon.name:before  {content:'\f007';}
 i.icon.floor:before  {content:'\f03a';}
 
 /*
  * 配色を考えて
  */
 .name    {color:#00b5ad;}
 .floor   {color:#000000;}
 .bed     {color:#fbbd08;}
 .bath    {color:#2185d0;}
 .check   {color:#21ba45;}

 /*
 * dat.gui最大化
 */
.dg.main,
.dg.main .close-button{
  width:100% !important;
}
.dg.main .close-button{
  display:none !important;
}
#user-controller{
  border:none;
  padding:0;
}