/*
 * 構造を決めて
 */
html,
body,
main{
  height:100%;
}

.ui.grid,
.ui.grid .row,
.ui.grid .row .column{
  height:100%;
}

.ui.grid .row .column{
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
     -moz-box-orient:vertical;
     -moz-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}

/*
 * アイコンを新しくして
 */
i.icon.name:before  {content:'\f007';}
i.icon.floor:before  {content:'\f03a';}

/*
 * 配色を考えて
 */
.name    {color:#00b5ad;}
.floor   {color:#000000;}
.bed     {color:#fbbd08;}
.bath    {color:#2185d0;}
.check   {color:#21ba45;}

.item .numeric-up-down input.label.bed   {background:#fbbd08;}
.item .numeric-up-down input.label.bath  {background:#2185d0;}
.item .numeric-up-down input.label.check {background:#21ba45;}

/*
 * display:flex必須
 * スクロール可能にする
 */
#view{
  height:100%;
  overflow-y:auto;
}
#user-controller{
  border:none;
  padding:0;
}

/*
 * dat.gui最大化
 */
.dg.main,
.dg.main .close-button{
  width:100% !important;
}
.dg.main .close-button{
  display:none;
}

/*
 * 影
 * .bShadow-10
 * HTMLはSEMANTIC-UI一色だ
 * つまり構造化の為のクラス名が並んでる. five item とか
 * そんな中、スタイルに関する単語がぽつりぽつりあったらどうだろう
 * だからスタイルシートに直接書く。ただ、デザインする時はbox-shadowのクラス名を
 * Chrome Develoer Tool (Element)から割り当てて確認⇢スタイルをコピー⇢main.cssに記述
 * する。構造化の為のクラス名が散らばっている中でスタイルそのもののクラス名をつけようとは思わない
 */
#view,
#counter{
  box-shadow: rgba(16, 36, 94, 0.4) 0 2px 6px 0;
}

/*
 * SEMANTIC-UIのATTACHED LABELはposition:absoluteだ
 * だから外側をposition:relativeしないと幅をはみ出す
 */
#view{
  position: relative;
}
