<!doctype html>
 <html>
  <head>
    <link href='/module/ui/semantic/all-prefix.2.4.2.min.css' rel='stylesheet'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <script src='/module/core/2.6.5.min.js'></script>
    <script src='/module/core/vue/2.6.10.min.js'></script>
    <script src='/module/core/vue/plugin/http-vue-loader/1.4.0.min.js'></script>

    <script>
      document.addEventListener('DOMContentLoaded',function(){

        Vue.use(VueLoader)
        new Vue({
          el:'#counter',
          components:[
            'url:/component/form/numeric-up-down.vue'
          ],
          data:{
            task:{
              bed:null,
              bath:null,
              check:null
            }
          },
          methods:{
            init:function(){
              this.task.bed = 50,
              this.task.bath = 50,
              this.task.check = 50
            }
          },
          created:function(){
            this.init()
          },
          mounted:function(){
            console.dir(this.$el)
          }
        })

      })
   </script>
    <style>
      #counter{
        position:absolute;
        top:50%;
        left:50%;
        -webkit-transform:translate(-50%,-50%);
           -moz-transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);
             -o-transform:translate(-50%,-50%);
                transform:translate(-50%,-50%);
        
      }
   </style>
 </head>
  <body>
    <div id='counter' class='ui menu icon three item'>
      <numeric-up-down name='bed' action='decrease' v-model='task.bed' :min='0' :max='128'></numeric-up-down>
      <numeric-up-down name='bath' action='decrease' v-model='task.bath'  :min='0' :max='128'></numeric-up-down>
      <numeric-up-down name='check' action='decrease' v-model='task.check' :min='0' :max='128'></numeric-up-down>
   </div>
 </body>
</html>